body {
    font-family: 'IBMPlexSansKR-Regular';
    overflow-x: auto; 
    overflow-y: auto;
}


/* 노멀라이징 */
* {
	margin: 0;
	padding: 0;
}

ol,
ul,
li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}


/* 라이브러리 */
.cell {
    float: left;
}

.cell-r {
    float: right;
}

.row::after {
    clear: both;
    content: "";
    display: block;
}

.con {
    width: 1150px;
    margin: 0 auto;
}

.con1 {
    margin-left: auto;
    margin-right: auto;
}

/* 폰트 */
@font-face {
    font-family: 'ImcreSoojin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 메인 */
.Main_Home{
    width: 1410px;
    height: auto;
}



/* 탑바 */


.top-bar-wrap {
    width: 100%;
    background-color: #0e6ac7;
}

.top-bar-wrap>.top-bar {
    height: 191px;
}


.top-bar-wrap>.top-bar>.logo-box > .logo {
    width: 170px;
    height: 180px;
}

.top-bar-wrap>.top-bar>.menu-box {
    width: 700px;
    height: 191px;
    font-size: 22px;
    position: relative;
    line-height: 25px;
    color: #ffffff;
}


.top-bar-wrap>.top-bar>.menu-box>ul {
    position: absolute;
    left: 70px;
    top: 40px;
    z-index: 1000;
}

.top-bar-wrap>.top-bar>.menu-box>ul>li {
    position: relative;
    display: inline-block;
    margin-left: 50px;
    margin-right: 20px;
    line-height: 115px;
}

.nav-box>li:hover {
    color: #ffffff;
}

.menu-box>ul>.line {
    position: relative;
    margin-top: 5%;
    border: 0.5px solid #b5b5b5;
}

.top-bar>.menu-box>ul:hover {
    color: #ddd;
}

.top-bar>.menu-box>ul>li:hover {
    font-weight: 600;
    color: #ffffff;
}

.top-bar>.menu-box>ul>li::after {
    display: block;
    content: "";
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: 0.5s;
    font-weight: 600;
}

.top_bar>.manu-box>ul>li:hover::after {
    width: 100%;
}



/* 로그인 */
.login-box {
    position: absolute;
    width: 70px;
    height: 191px;
    right: -46%;
    transform: translateX(-48%);
    display: inline-block;
    color: #ffffff;

}

.login-box > .icon-box{
    padding-top: 80px;
    padding-left: 12px;
}

.login-box > .login{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
}

.menu-box > .nav-box > .cell > .comm{
    font-weight: 600;
    font-size: 22px;
}

/* 로그아웃버튼 */
.login-box > #logOut {
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    width: 80px;
    height: 25px;

    left: -15px;
    top: 10px;

    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    line-height: 13px;
}


/* 메인 */
.Main {
    position: relative;
    width: 1130px;
    height: 1000px;
    top: 100px;
    left: 0;
}

.Sidebar > .title{
    position: relative;
    width: 200px;
    height: 136px;
    background-color: #0e6ac7;
}

.Sidebar > .title > p{
    position: relative;
    text-align: center;
    top: 50px;
    
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;

    color: #ffffff;

}


.Sidebar > .sb{
    border: 3px solid #0e6ac7;

    position: relative;
    box-sizing: border-box;
    width: 200px;
    height: 291px;

    background-color: #ffffff;

}

.Sidebar > .sb > li:hover{
    color: #0e6ac7;
}

.Sidebar >.sb > li{
    border-top: 1px solid #767676;
    text-align: center;

    padding: 31px;

    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 32px;
    color: #3e3d3b;
}

.Sidebar > .sb > .free{
    font-weight: 600;
    color: #0e6ac7;
}

/* 게시글 조회 */

.Main > .borad_view{
    position: relative;

    width: 980px;
    height: 700px;
    left: 170px;
    top: -385px;
}

.Main > .borad_view > .title{
    position: relative;
    width: 980px;
    height: 49px;
    top: 0px;
    padding-bottom: 5px;

    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 49px;
    text-align: left;
}

/* 전체게시글보기 버튼 */
.Main > .borad_view > .back_btn{
    position: relative;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;

    width: 100px;
    padding: 2px;
}

.Main > .borad_view > .back_btn> p{
    display: inline-block;

    font-size: 14px;
}

/* 게시글 */
.Main > .borad_view > .borad {
    position: relative;
    border: 1px solid #0e6ac7;
    border-radius: 5px;

    width: 980px;
    height: 500px;
    top: 20px;
}

.Main > .borad_view > table{
    border: 1px solid #0e6ac7;
    position: relative;
    top: 30px;
    width: 980px;
    height: 500px;
    border-radius: 5px;

    text-align: left;

    display: inline-block;
}

.Main > .borad_view > table > thead > tr > #a_tit{
    position: relative;

    font-size: 25px;
    font-weight: 600;
    font-style: normal;

    color: #000;
    padding-left: 30px;
    padding-top: 20px;
}

.Main > .borad_view > table > tbody > tr td {
    display: inline-block;
    position: relative;

    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    color: #3e3d3b;

    padding-left: 30px;
    padding-top: 5px;

}

.Main > .borad_view > table > tbody > .contnet_box{
    position: relative;
    top: 30px;
    
    display: inline-block;
    width: 930px;
    height: 360px;
    left: 20px;

    background-color: rgba(217, 217, 217, 0.3);

}

.Main > .borad_view > table > tbody > .contnet_box td{
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    padding-left: 12px;
}





