body {
    font-family: 'IBMPlexSansKR-Regular';
    overflow-x: auto; 
    overflow-y: auto;
}


/* 노멀라이징 */
* {
	margin: 0;
	padding: 0;
}

ol,
ul,
li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}


/* 라이브러리 */
.cell {
    float: left;
}

.cell-r {
    float: right;
}

.row::after {
    clear: both;
    content: "";
    display: block;
}

.con {
    width: 1150px;
    margin: 0 auto;
}

.con1 {
    margin-left: auto;
    margin-right: auto;
}

/* 폰트 */
@font-face {
    font-family: 'ImcreSoojin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 메인 */
.Main_Home{
    width: 1410px;
    height: auto;
}



/* 탑바 */


.top-bar-wrap {
    width: 100%;
    background-color: #0e6ac7;
}

.top-bar-wrap>.top-bar {
    height: 191px;
}


.top-bar-wrap>.top-bar>.logo-box > .logo {
    width: 170px;
    height: 180px;
}

.top-bar-wrap>.top-bar>.menu-box {
    width: 700px;
    height: 191px;
    font-size: 22px;
    position: relative;
    line-height: 25px;
    color: #ffffff;
}


.top-bar-wrap>.top-bar>.menu-box>ul {
    position: absolute;
    left: 70px;
    top: 40px;
    z-index: 1000;
}

.top-bar-wrap>.top-bar>.menu-box>ul>li {
    position: relative;
    display: inline-block;
    margin-left: 50px;
    margin-right: 20px;
    line-height: 115px;
}

.nav-box>li:hover {
    color: #ffffff;
}

.menu-box>ul>.line {
    position: relative;
    margin-top: 5%;
    border: 0.5px solid #b5b5b5;
}

.top-bar>.menu-box>ul:hover {
    color: #ddd;
}

.top-bar>.menu-box>ul>li:hover {
    font-weight: 600;
    color: #ffffff;
}

.top-bar>.menu-box>ul>li::after {
    display: block;
    content: "";
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: 0.5s;
    font-weight: 600;
}

.top_bar>.manu-box>ul>li:hover::after {
    width: 100%;
}



/* 로그인 */
.login-box {
    position: absolute;
    width: 70px;
    height: 191px;
    right: -46%;
    transform: translateX(-48%);
    display: inline-block;
    color: #ffffff;

}

.login-box > .icon-box{
    padding-top: 70px;
    padding-left: 12px;
}

.login-box > .login{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
}

.menu-box > .nav-box > .cell > .comm{
    font-weight: 600;
    font-size: 22px;
}


/* 메인 */
.Free_Main {
    position: relative;
    width: 1130px;
    height: 1000px;
    top: 100px;
    left: 0;
}

.Sidebar > .title{
    position: relative;
    width: 200px;
    height: 136px;
    background-color: #0e6ac7;
}

.Sidebar > .title > p{
    position: relative;
    text-align: center;
    top: 50px;
    
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;

    color: #ffffff;

}


.Sidebar > .sb{
    border: 3px solid #0e6ac7;

    position: relative;
    box-sizing: border-box;
    width: 200px;
    height: 291px;

    background-color: #ffffff;

}

.Sidebar >.sb > li{
    border-top: 1px solid #767676;
    text-align: center;

    padding: 31px;

    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 32px;
    color: #3e3d3b;
}

.Sidebar > .sb > .share{
    font-weight: 600;
    color: #0e6ac7;
}


/* 게시판 */

table {
    border-collapse: collapse;
}

caption {
    position: relative;
    width: 150px;
    height: 49px;
    top: -50px;

    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 49px;
}

a {
    text-decoration: none;
    color: inherit;
}

.board_list_wrap {
    padding: 50px;

}

.board_list {
    position: relative;
    width: 900px;
    border-top: 2px solid #0e6ac7;
    left: 12%;
    top: -385px;

}


.serch_box > .form-control{
    position: relative;
    width: 110px;
    height: 49px;
    left: 69%;
    top: -380px;

    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 30px;

    color: #000;

}

.serch_box > #serch{
    position: relative;
    width: 250px;
    height: 44px;
    top: -380px;
    right: -69%;
}

.serch_box > #serch_icon{
    position: relative;
    right: -66%;
    top: -375px;
    color: #000;

    font-size: 1.5rem;
}

.board_list tr {
    border-bottom: 1px solid #ccc;
}

.board_list th,
.board_list td {
    padding: 10px;
    font-size: 14px;
}

.board_list td {
    text-align: center;
}

.board_list .tit {
    text-align: left;
}

.board_list .tit:hover {
    text-decoration: underline;
}

.board_list_wrap .paging {
    margin-top: 20px;
    text-align: center;
    font-size: 0;
}
.board_list_wrap .paging a {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 100px;
    font-size: 12px;
}
.board_list_wrap .paging a:first-child {
    margin-left: 0;
}

.board_list_wrap .paging a.bt {
    border: 1px solid #eee;
    background: #eee;
}

.board_list_wrap .paging a.num {
    border: 1px solid #0e6ac7;
    font-weight: 600;
    color: green;
}

.board_list_wrap .paging a.num.on {
    background: green;
    color: #fff;
}


.Notice > tr> td .notice_box{
    position: relative;
    width: 60px;
    height: 28px;
    background-color: #0e6ac7;
    display: inline-block;
}

.Notice > tr> td .notice_box > p{
    text-align: center;
    color: #fff;

    line-height: 28px;
}






















