body {
    font-family: 'IBMPlexSansKR-Regular';
    overflow-x: auto; 
    overflow-y: auto;
}


/* 노멀라이징 */
* {
	margin: 0;
	padding: 0;
}

ol,
ul,
li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}


/* 라이브러리 */
.cell {
    float: left;
}

.cell-r {
    float: right;
}

.row::after {
    clear: both;
    content: "";
    display: block;
}

.con {
    width: 1150px;
    margin: 0 auto;
}

.con1 {
    margin-left: auto;
    margin-right: auto;
}

/* 폰트 */
@font-face {
    font-family: 'ImcreSoojin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 메인 */
.Main_Home{
    width: 1410px;
    height: auto;
}



/* 탑바 */


.top-bar-wrap {
    width: 100%;
    background-color: #0e6ac7;
}

.top-bar-wrap>.top-bar {
    height: 191px;
}


.top-bar-wrap>.top-bar>.logo-box > .logo {
    width: 170px;
    height: 180px;
}

.top-bar-wrap>.top-bar>.menu-box {
    width: 700px;
    height: 191px;
    font-size: 22px;
    position: relative;
    line-height: 25px;
    color: #ffffff;
}


.top-bar-wrap>.top-bar>.menu-box>ul {
    position: absolute;
    left: 70px;
    top: 40px;
    z-index: 1000;
}

.top-bar-wrap>.top-bar>.menu-box>ul>li {
    position: relative;
    display: inline-block;
    margin-left: 50px;
    margin-right: 40px;
    line-height: 115px;
}

.nav-box>li:hover {
    color: #ffffff;
}

.menu-box>ul>.line {
    position: relative;
    margin-top: 5%;
    border: 0.5px solid #b5b5b5;
}

.top-bar>.menu-box>ul:hover {
    color: #ddd;
}

.top-bar>.menu-box>ul>li:hover {
    font-weight: 600;
    color: #ffffff;
}

.top-bar>.menu-box>ul>li::after {
    display: block;
    content: "";
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: 0.5s;
    font-weight: 600;
}

.top_bar>.manu-box>ul>li:hover::after {
    width: 100%;
}



/* 로그인 */
.login-box {
    position: absolute;
    width: 70px;
    height: 191px;
    right: -46%;
    transform: translateX(-48%);
    display: inline-block;
    color: #ffffff;

}

.login-box > .icon-box{
    padding-top: 70px;
    padding-left: 12px;
}

.login-box > .login{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
}

.menu-box > .nav-box > .cell > .comm{
    font-weight: 600;
    font-size: 22px;
}


/* 메인 */
.Free_Main {
    position: relative;
    width: 1130px;
    height: 1000px;
    top: 100px;
    left: 0;
}

.Sidebar > .title{
    position: relative;
    width: 200px;
    height: 136px;
    background-color: #0e6ac7;
}

.Sidebar > .title > p{
    position: relative;
    text-align: center;
    top: 50px;
    
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;

    color: #ffffff;

}


.Sidebar > .sb{
    border: 3px solid #0e6ac7;

    position: relative;
    box-sizing: border-box;
    width: 200px;
    height: 291px;

    background-color: #ffffff;

}

.Sidebar >.sb > li{
    border-top: 1px solid #767676;
    text-align: center;

    padding: 31px;

    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 32px;
    color: #3e3d3b;
}

.main_box{
    position: relative;
    border: 1px solid red;

    width: 900px;
    height: 1000px;
    top: -42.8%;

    left: 10.1%;
}

.main_box > .title{
    position: relative;
    width: 150px;
    height: 49px;
    top: 40px;
    left: 5%;
    border: 1px solid blue;
}

.main_box > .title > p{
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 49px;
}

.serch_box > .form-control{
    position: relative;
    width: 110px;
    height: 49px;
    left: 56%;

    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 30px;

    color: #000;

}

.serch_box > #serch{
    position: relative;
    width: 250px;
    height: 44px;
    top: -1px;
    left: 505px;
}

.serch_box > #serch_icon{
    position: relative;
    font-size: 22px;
    left: 465px;
    top: 2px;
    color: #000;
}

.main_box > .free_board{
    border: 1px solid gold;

    width: 900px;
    height: 900px;
}

.main_box > .free_board > .line{
    position: relative;
    top: 40px;
    border: 1px solid #0e6ac7;
    width: 825px;
    left: 5%;
}

.main_box > .free_board > .board_list_notice{
    border-bottom: 1px solid #000;
    position: relative;
    width: 825px;
    height: 57px;
    top: 4.5%;
    left: 5%;

}

.main_box > .free_board > .board_list_notice > .notice div{
    border: 1px solid rgb(24, 126, 46);
    display: inline-block;

}

.main_box > .free_board > ul > li > .notice_box{
    width: 100px;
    height: 57px;
}

.main_box > .free_board > ul > li > .notice_box > p{
    position: relative;
    width: 50px;
    height: 30px;
    left: 25%;
    top: 24.5%;
    text-align: center;

    line-height: 30px;

    font-size: 15px;

    color: #ffffff;
    background-color: #0e6ac7;
}

.main_box > .free_board > ul > li > .free_borad_title {
    position: relative;
    width: 590px;
    height: 57px;
    top: -5px;
}

.main_box > .free_board > ul > li > .free_borad_title > p{
    position: relative;
    text-align: left;
    top: 30%;
    left: 5%;
}


.main_box > .free_board > ul > li > .free_borad_day{
    position: relative;
    height: 57px;
    width: 120px;
    top: -5px;
}

.main_box > .free_board > ul > li > .free_borad_day > section{
    position: relative;
    text-align: center;
    top: 30%;
}
























