body {
    font-family: 'MinSans-Medium';
    overflow-x:hidden; 
    overflow-y:auto;
}

/* 노멀라이징 */
* {
	margin: 0;
	padding: 0;
}

ol,
ul,
li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}


/* 라이브러리 */
.cell {
    float: left;
}

.cell-r {
    float: right;
}

.row::after {
    clear: both;
    content: "";
    display: block;
}

.con {
    width: 1150px;
    margin: 0 auto;
}

.con1 {
    margin-left: auto;
    margin-right: auto;
}

/* 폰트 */
@font-face {
    font-family: 'Happiness-Sans-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2') format('woff2');

}
@font-face {
    font-family: 'MinSans-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* 탑바 */


.top-bar-wrap {
    width: 100%;
}

.top-bar-wrap>.top-bar {
    height: 105px;
}


.top-bar-wrap>.top-bar>.logo-box {
    width: 167px;
    height: 115px;
}

.top-bar-wrap>.top-bar>.logo-box>.logo {
    line-height: 134px;
}

.top-bar-wrap>.top-bar>.menu-box {
    width: 700px;
    height: 115px;
    font-size: 18px;
    position: relative;
    line-height: 25px;
    color: #000000;
}


.top-bar-wrap>.top-bar>.menu-box>ul {
    position: absolute;
    left: 200px;
    top: 20px;
    z-index: 1000;
}

.top-bar-wrap > .top-bar > .menu-box > ul > li {
    position: relative;
    display: inline-block;
    margin-left: 50px;
    margin-right: 60px;
    line-height: 115px;
}

.nav-box > li:hover{
    color: #00A19D;
}

.menu-box > ul> .line{
    position: relative;
    margin-top: 5%;
    border: 0.5px solid #b5b5b5;
}

.top-bar > .menu-box > ul:hover{
    color: #ddd;
}

.top-bar > .menu-box > ul > li:hover{
    font-weight: 600;
    color: #00A19D;
}

.top-bar > .menu-box > ul > li::after{
    display: block;
	content: "";
	width: 0;
	height: 2px;
	background-color: #00A19D;
	transition: 0.5s;
	font-weight: 600;
}

.top_bar> .manu-box > ul > li:hover::after{
    width: 100%;
}

/* 아이콘 */

.top-bar-wrap>.top-bar > .menu-box >.icon-box {
    position: absolute;
    width: 230px;
    height: 115px;
    top: 65px;
    right: -70%;
    transform: translateX(-70%);
}

.top-bar-wrap>.top-bar > .menu-box >.icon-box > a{
    margin-left: 25px;
}

.top-bar-wrap>.top-bar > .menu-box >.icon-box > a:hover{
    color: #E05D5D;
}

/* 로그인 */
.login {
    position: absolute;
    width: 52px;
    height: 21px;
    top: 66px;
    right: -48%;
    transform: translateX(-48%);

    display: inline-block;

    font-family: 'InfinitySans-RegularA1';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    color: #000000;
}

.login:hover {
    color: #E05D5D;
    font-weight: 600;
}



.topbar-line {
    position: absolute;
    width: 100%;
    top: 150px;
    left: -10px;
    border: 0.5px solid #c4c4c4;
}


/* 로그인메인화면 */

.login_main{
    position: relative;
    width: 100%;
    height: 1000px;
    left: 0;
    top: 48px;

    background: rgba(255, 248, 229, 0.45);
}

.login_main > .login_text{
    position: absolute;
    width: 85px;
    height: 40px;
    left:950px;
    top: 100px;

    text-align: center;

    font-family: 'InfinitySans-RegularA1';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.1em;

    color: #000000;

}

/* 로그인박스 */
.login_main > .login_box{
    position: absolute;
    width: 525px;
    height: 670px;
    left: 732px;
    top: 173px;

    background-color: #ffffff;
}

.login_main > .login_box > #id{
    position: absolute;
    width: 400px;
    height: 56px;
    left: 12%;
    top: 90px;

    background-color: #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #dbdbdb;
    transform: matrix(1, 0, 0, -1, 0, 0,);


    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    font-family: 'MinSans-Medium';
    font-weight: 500;
}


.login_main > .login_box > #password{
    position: absolute;
    width: 400px;
    height: 56px;
    left: 12%;
    top: 180px;

    background-color: #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #dbdbdb;
    transform: matrix(1, 0, 0, -1, 0, 0,);


    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    font-family: 'MinSans-Medium';
    font-weight: 500;
}


.login_main > .login_box > .login_chbox{
    box-sizing: border-box;

    position: absolute;
    width: 22px;
    height: 22px;
    left: 12%;
    top: 260px;

    background-color: #ffffff;
    border-radius: 70%;
    border: 1px solid #dbdbdb;
}

input[type="checkbox"] + label{
    position: relative;
    width: 105px;
    height: 20px;
    top: 255px;
    left: 18%;

    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;

    color: #767676;
}

.login_main > .login_box > .lost{
    position: absolute;
    width: 150px;
    height: 20px;
    right: 40px;
    top: 260px;

    font-style: normal;
    font-size: 15px;
    font-weight: 300px;
    line-height: 20px;
    font-family: 'MinSans-Medium';

    color: #767676;
}

.login_main > .login_box > #btn{
    position: absolute;
    width: 400px;
    height: 56px;
    left: 12%;
    top: 340px;

    background-color: #00A19D;
}

 .login_main > .login_box > #btn > p{
    position: absolute;
    width: 70px;
    height: 25px;
    left: 175px;
    top: 15px;

    font-family: 'MinSans-Medium';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 25px;

    color: #ffffff;

}


.login_main > .login_box > .text1{
    position: absolute;
    width: 115px;
    height: 20px;
    left: 210px;
    top: 440px;

    font-family: 'MinSans-Medium';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 20px;

    color: #767676;
}

.login_main > .login_box > .naver{
    box-sizing: border-box;

    position: absolute;
    width: 48px;
    height: 48px;
    left: 130px;
    top: 490px;

    border-radius: 70%;
    border: 1px solid #767676;
}

.login_main > .login_box > .naver > img{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 8px;
    top: 8px;


}

.login_main > .login_box > .kakao{
    box-sizing: border-box;

    position: absolute;
    width: 48px;
    height: 48px;
    left: 200px;
    top: 490px;

    border-radius: 70%;
    border: 1px solid #767676;
}

.login_main > .login_box > .kakao > img{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 11px;
    top: 11px;


}

.login_main > .login_box > .google{
    box-sizing: border-box;

    position: absolute;
    width: 48px;
    height: 48px;
    left: 270px;
    top: 490px;

    border-radius: 70%;
    border: 1px solid #767676;
}

.login_main > .login_box > .google > img{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 10.5px;
    top: 10.5px;


}

.login_main > .login_box > .apple{
    box-sizing: border-box;

    position: absolute;
    width: 48px;
    height: 48px;
    left: 340px;
    top: 490px;

    border-radius: 70%;
    border: 1px solid #767676;
}

.login_main > .login_box > .apple > img{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 10px;
    top: 10px;


}

.login_main > .login_box > .signup{
    position: absolute;
    width: 130px;
    height: 20px;
    left: 220px;
    top: 610px;

    font-family: 'MinSans-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;

    color: #767676;
}




















/* 푸터 */
/* .footer{
    position: relative;
    width: 100%;
    height: 250px;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.5);
} */


