body {
    font-family: 'IBMPlexSansKR-Regular';
    overflow-x: auto; 
    overflow-y: auto;
}

/* 노멀라이징 */
* {
    margin: 0;
    padding: 0;
}

ol,
ul,
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}


/* 라이브러리 */
.cell {
    float: left;
}

.cell-r {
    float: right;
}

.row::after {
    clear: both;
    content: "";
    display: block;
}

.con {
    width: 1150px;
    margin: 0 auto;
}

.con1 {
    margin-left: auto;
    margin-right: auto;
}

/* 폰트 */
@font-face {
    font-family: 'ImcreSoojin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* 메인 */
.Main_Home {
    width: 1410px;
    height: auto;
}



/* 탑바 */


.top-bar-wrap {
    width: 100%;
    background-color: #0e6ac7;
}

.top-bar-wrap>.top-bar {
    height: 191px;
}


.top-bar-wrap>.top-bar>.logo-box > .logo {
    width: 170px;
    height: 180px;
}

.top-bar-wrap>.top-bar>.menu-box {
    width: 700px;
    height: 191px;
    font-size: 22px;
    position: relative;
    line-height: 25px;
    color: #ffffff;
}


.top-bar-wrap>.top-bar>.menu-box>ul {
    position: absolute;
    left: 70px;
    top: 40px;
    z-index: 1000;
}

.top-bar-wrap>.top-bar>.menu-box>ul>li {
    position: relative;
    display: inline-block;
    margin-left: 50px;
    margin-right: 40px;
    line-height: 115px;
}

.nav-box>li:hover {
    color: #ffffff;
}

.menu-box>ul>.line {
    position: relative;
    margin-top: 5%;
    border: 0.5px solid #b5b5b5;
}

.top-bar>.menu-box>ul:hover {
    color: #ddd;
}

.top-bar>.menu-box>ul>li:hover {
    font-weight: 600;
    color: #ffffff;
}

.top-bar>.menu-box>ul>li::after {
    display: block;
    content: "";
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: 0.5s;
    font-weight: 600;
}

.top_bar>.manu-box>ul>li:hover::after {
    width: 100%;
}



/* 로그인 */
.login-box {
    position: absolute;
    width: 70px;
    height: 191px;
    right: -46%;
    transform: translateX(-48%);
    display: inline-block;
    color: #ffffff;

}

.login-box > .icon-box{
    padding-top: 70px;
    padding-left: 12px;
}

.login-box > .login{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
}




/* 설문조사바*/

.surbay{
    height: 550px;
    padding-bottom: 110px;
}

.surbay > .surbay_bar_box > .surbay_bar{
    padding-top: 110px;
    height: 669px;
}


.surbay > .surbay_bar > .surbay_bg{
    width: 1150px;
    height: 446px;
    border-radius: 30px;
    left: 5%;
}

.surbay > .surbay_bar_box > .surbay_bar > .li_img{
    position: relative;
    top: -400px;

}


.surbay > .surbay_bar_box > .surbay_bar > .text_box{
    position: relative;
    width: 336px;
    height: 141px;

    top: -350px;
    left: 10%;

    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: -0.04em;

    color: #ffffff;
}

.surbay > .surbay_bar_box > .surbay_bar > .text_box > .text-1{
    position: relative;
    top: -27px;
    left: 55%;
}

.surbay > .surbay_bar_box > .surbay_bar > .text_box > p{
    font-weight: 400;
    font-size: 28px;
    font-family: 'ImcreSoojin';
    
    color: #fdfab5;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.surbay > .surbay_bar_box > .surbay_bar > button{
    display: none;
}

.surbay > .surbay_bar_box > .surbay_bar > .surbay_btn_box{
    position: relative;
    width: 288px;
    height: 59px;
    top: -250px;
    left: 10%;


    background-color: #ffffff;
    border-radius: 30px;
}

.surbay > .surbay_bar_box > .surbay_bar > .surbay_btn_box > a > p{
    position: relative;
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
    padding-top: 20px;
    left: 10%;

    color: #18224b;

    
}


.surbay > .surbay_bar_box > .surbay_bar > .surbay_btn_box > a > i{
    position: relative;
    right: 10%;
    top: -40%;
}






/* 메인네비게이터 */

.swiper_box{
    width: 100%;
    height: 672px;
    background-color: rgba(14, 106, 199, 0.1);
}
  

.swiper-container {   
    width: 950px;
    height: 452px;

}

.swiper-slide{
    text-align: center;
    font-size: 18px;
    background-color: #ffffff; /* Center slide text vertically */

    filter: drop-shadow(3px 5px 4px rgba(24, 34, 75, 0.2));
}

.swiper-slide > .text_box{
    padding-top: 25px;
    color: #0e6ac7;   
    text-align: left;
    padding-left: 20px;
}

.swiper-slide > .text_box > .title{
    padding-top: 40px;
}



.swiper-slide > .text_box > .title > h1 p{
    display: inline;
    font-size: 20px;
    font-weight: 300;
}


/* .swiper-slide > .text_box > .line{
    width: 193px;
    height: 0px;
    border: 1px solid #0e6ac7;

    transform: rotate(-30.41deg);
} */


.swiper-slide> img{
    padding-top: 20px;
    width: 316.66px;
    height: 232px;
}
