body {
    font-family: 'MinSans-Medium';
    overflow-x:hidden; 
    overflow-y: scroll;
}


/* 노멀라이징 */
* {
	margin: 0;
	padding: 0;
}

ol,
ul,
li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}


/* 라이브러리 */
.cell {
    float: left;
}

.cell-r {
    float: right;
}

.row::after {
    clear: both;
    content: "";
    display: block;
}

.con {
    width: 1150px;
    margin: 0 auto;
}

.con1 {
    margin-left: auto;
    margin-right: auto;
}

/* 폰트 */
@font-face {
    font-family: 'Happiness-Sans-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2') format('woff2');

}
@font-face {
    font-family: 'MinSans-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* 메인 */
.Main_Home{
    width: 1920px;
}



/* 탑바 */


.top-bar-wrap {
    width: 100%;
}

.top-bar-wrap>.top-bar {
    height: 105px;
}


.top-bar-wrap>.top-bar>.logo-box {
    width: 167px;
    height: 115px;
}

.top-bar-wrap>.top-bar>.logo-box>.logo {
    line-height: 134px;
}

.top-bar-wrap>.top-bar>.menu-box {
    width: 700px;
    height: 115px;
    font-size: 18px;
    position: relative;
    line-height: 25px;
    color: #000000;
}


.top-bar-wrap>.top-bar>.menu-box>ul {
    position: absolute;
    left: 200px;
    top: 20px;
    z-index: 1000;
}

.top-bar-wrap > .top-bar > .menu-box > ul > li {
    position: relative;
    display: inline-block;
    margin-left: 50px;
    margin-right: 60px;
    line-height: 115px;
}

.nav-box > li:hover{
    color: #00A19D;
}

.menu-box > ul> .line{
    position: relative;
    margin-top: 5%;
    border: 0.5px solid #b5b5b5;
}

.top-bar > .menu-box > ul:hover{
    color: #ddd;
}

.top-bar > .menu-box > ul > li:hover{
    font-weight: 600;
    color: #00A19D;
}

.top-bar > .menu-box > ul > li::after{
    display: block;
	content: "";
	width: 0;
	height: 2px;
	background-color: #00A19D;
	transition: 0.5s;
	font-weight: 600;
}

.top_bar> .manu-box > ul > li:hover::after{
    width: 100%;
}

/* 아이콘 */

.top-bar-wrap>.top-bar > .menu-box >.icon-box {
    position: absolute;
    width: 230px;
    height: 115px;
    top: 65px;
    right: -70%;
    transform: translateX(-70%);
}

.top-bar-wrap>.top-bar > .menu-box >.icon-box > a{
    margin-left: 25px;
}

.top-bar-wrap>.top-bar > .menu-box >.icon-box > a:hover{
    color: #E05D5D;
}

/* 로그인 */
.login {
    position: absolute;
    width: 52px;
    height: 21px;
    top: 66px;
    right: -48%;
    transform: translateX(-48%);

    display: inline-block;

    font-family: 'InfinitySans-RegularA1';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    color: #000000;
}

.login:hover {
    color: #E05D5D;
    font-weight: 600;
}



.topbar-line {
    position: absolute;
    width: 100%;
    top: 150px;
    left: -10px;
    border: 0.5px solid #c4c4c4;
}


/* 메인 */
.Sidebar {
    position: relative;
    width: 190px;
    height: 350px;
}

.Sidebar > .side{
    position: relative;
    left: -220%;
    top: 100px;
}

.Sidebar > .side >.line1{
    position: relative;
    top: 15px;
    width: 150px;
    border: 1px solid #767676;
    left: -12%;
}

.Sidebar > .side > .sb{
    position: relative;
    top: 50px;
}

.Sidebar > .side > .sb > li{
    margin-top: 50px;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 18px;
    color: #767676;
}

.Sidebar > .side > .sb > .QA{
    font-size: 19px;
    font-weight: 600;
    color: #000000;
}

/* 메인 */
h3{
    position: relative;
    top: 140px;
    left: -70%;

    font-weight: 600;
    font-style: normal;
    font-size: 23px;
    line-height: 20px;
}

.triangle{
    position: relative;
    z-index: 1;
    top: -40px;
    left: -40px;
    width: 0;
    height: 0;

    border-bottom: 40px solid #E05D5D;
    border-top: 40px solid transparent;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    
    transform: rotate(-45deg);
}

.triangle > p{
    position: relative;
    top: 6px;
    left: -3px;
    color: #fff;

    transform: rotate(45deg);
}


.reco_list > img{
     /* 이미지 주변에 쓸떼없이 생기는 여백이 사라진다. 즉 글자로서의 특징이 사라진다. */
     display: block;
     /* 이걸 해줘야 이미지 너비가 유연해집니다. */
     width: 100%;
     height: 100%;
}

.reco_list > ul > li > img{
    position: relative;
    width: 270px;
    height: 240px;
    top: -80px;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.reco_list > ul > li{
    position: relative;
    width: 1100px;
    height: 240px;
    top: 200px;
    left: 6%;

    background-color: rgba(255, 248, 229, 0.5);
    margin-bottom: 100px;

}


.reco_list >ul> li .text_box{
    position: relative;
    top: -310px;
    left: 30%;
}

.reco_list >ul> li .text_box > h5{
    font-size: 22px;
    font-weight: 550;
    font-style: normal;
    line-height: 27px;

    margin-bottom: 30px;
    color: #000000;
}

.reco_list >ul> li .text_box > p{
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;

    color: #000000;
    margin-bottom: 10px;
}

.reco_list >ul> li .text_box > .sub_text{
    position: relative;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;

    color: rgba(0, 161, 157, 1);
    margin-top: 30px;
}

.reco_list >ul> li .text_box > .sub_text p{
    margin-bottom: 8px;
}

/* 체크박스 */

label:before {
    content: "\f004";
    font-family: "Font Awesome 5 Free";
    margin-right: 10px;
    color: #767676;
    font-size: 24px;
  }

  input[type="checkbox"] +label{
    position: relative;
    top: -350px;
    left: -2%;
  }

  /* rank1 체크 */
  input#heart:checked + label.ch-a:before {
    content: "\f004";
    color: #E05D5D;
  }

  input#heart{
    display: none;
  }

/* rank2 체크 */

  input#heart1{
    display: none;
  }
  input#heart1:checked + label.ch-b:before {
    content: "\f004";
    color: #E05D5D;
  }
  
  /* rank3 체크 */

  input#heart2{
    display: none;
  }
  input#heart2:checked + label.ch-c:before {
    content: "\f004";
    color: #E05D5D;
  }



















