body {
    font-family: 'IBMPlexSansKR-Regular';
    overflow-x: auto; 
    overflow-y: auto;
}

/* 노멀라이징 */
* {
    margin: 0;
    padding: 0;
}

ol,
ul,
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}


/* 라이브러리 */
.cell {
    float: left;
}

.cell-r {
    float: right;
}

.row::after {
    clear: both;
    content: "";
    display: block;
}

.con {
    width: 1150px;
    margin: 0 auto;
}

.con1 {
    margin-left: auto;
    margin-right: auto;
}

/* 폰트 */
@font-face {
    font-family: 'ImcreSoojin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* 메인 */
.Main_Home {
    width: 1410px;
    height: auto;
}



/* 탑바 */


.top-bar-wrap {
    width: 100%;
    background-color: #0e6ac7;
}

.top-bar-wrap>.top-bar {
    height: 191px;
}


.top-bar-wrap>.top-bar>.logo-box > .logo {
    width: 170px;
    height: 180px;
}

.top-bar-wrap>.top-bar>.menu-box {
    width: 700px;
    height: 191px;
    font-size: 22px;
    position: relative;
    line-height: 25px;
    color: #ffffff;
}


.top-bar-wrap>.top-bar>.menu-box>ul {
    position: absolute;
    left: 70px;
    top: 40px;
    z-index: 1000;
}

.top-bar-wrap>.top-bar>.menu-box>ul>li {
    position: relative;
    display: inline-block;
    margin-left: 50px;
    margin-right: 40px;
    line-height: 115px;
}

.nav-box>li:hover {
    color: #ffffff;
}

.menu-box>ul>.line {
    position: relative;
    margin-top: 5%;
    border: 0.5px solid #b5b5b5;
}

.top-bar>.menu-box>ul:hover {
    color: #ddd;
}

.top-bar>.menu-box>ul>li:hover {
    font-weight: 600;
    color: #ffffff;
}

.top-bar>.menu-box>ul>li::after {
    display: block;
    content: "";
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: 0.5s;
    font-weight: 600;
}

.top_bar>.manu-box>ul>li:hover::after {
    width: 100%;
}



/* 로그인 */
.login-box {
    position: absolute;
    width: 70px;
    height: 191px;
    right: -46%;
    transform: translateX(-48%);
    display: inline-block;
    color: #ffffff;

}

.login-box > .icon-box{
    padding-top: 70px;
    padding-left: 12px;
}

.login-box > .login{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
}

/* 회원가입 */

.wrapper{
    position: relative;
    width: 700px;
    height: 1000px;
    top: 100px;
}

.wrapper > .title > h1{
    position: relative;
    width: 170px;
    height: 45px;
    left: 40%;
    padding-bottom: 7%;

    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    font-family: 'ImcreSoojin';
    line-height: 45px;
  
    color: #0e6ac7;

}

.wrapper > .signup_box{
    position: relative;
    width: 700px;
    height: 1000px;
    top: 100px;
    left: 10%;

}

input{
    border: 1px solid #0e6ac7;
    line-height: 50px;
    font-size: 16px;
    /* padding-left: 10px;
    padding-right: 10px; */

    font-style: normal;
    font-weight: 400;

}


/* .wrapper {
    padding: 10px;
} */

div {
    padding-top: 3px;
    padding-bottom: 3px;
}

.title {
    text-align: center;
    font-weight: 600;
}

.email input {
    position: relative;
    width: 457px;
    left: 20%;
}

.name input {
    position: relative;
    width: 457px;
    left: 20%;
}

.password input {
    position: relative;
    width: 457px;
    left: 20%;
}

.passwordCheck input {
    position: relative;
    width: 457px;
    left: 20%;
}

.phone {
    position: relative;
    justify-content: space-between;
    line-height: 35px;
    left: 20%;
    width: 457px;
}

#phone1 {
    width: 141px;
    text-align: center;
}

#phone2 {
    width: 141px;
    text-align: center;
}

#phone3 {
    width: 141px;
    text-align: center;
}

.auth {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

#certificationNumber{
    position: relative;
    width: 140px;
    height: 25px;
    left: 20%;
    border: 1px solid #0e6ac7;
    padding: 10px;
    text-align: center;
}



.timer {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;


}

.auth div {
    width: 30%;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
}

.auth button {
    position: relative;
    width: 276px;
    height: 49px;
    right: 14%;

    color: #ffffff;
}

#timeLimit{
    position: relative;
    width: 140px;
    height: 25px;
    left: 20%;
    border: 1px solid #0e6ac7;
    padding: 10px;
    text-align: center;
}

.timer div {
    width: 30%;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
}

.timer button {
    position: relative;
    width: 276px;
    height: 49px;
    right: 14%;

    color: #ffffff;
}

.area{
    position: relative;
    padding-top: 40px;
}

.area select {
    position: relative;
    width: 457px;
    height: 49px;
    left: 20%;

}

.gender {
    position: relative;
    text-align: center;

    width: 457px;
    height: 49px;
    left: 20%;

}

.gender > input[type="radio"]{
    position: relative;
    margin: 15px;
}



.gender input{
    position: relative;
}


.signUp button {
    position: relative;
    width: 460px;
    height: 49px;
    left: 20%;

    top: 20px;
    cursor:pointer;

    background-color: #ddd;
    color: #ffffff;

    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 21px;
}

button{
    cursor: pointer;
    height: 30px;
}

.error{
    position: relative;
    font-size: 1px;
    height: 20px;
    color:red;
    font-weight: 700;
    left: 20%;


}