body {
    font-family: 'IBMPlexSansKR-Regular';
    overflow-x: auto; 
    overflow-y: auto;
}

/* 노멀라이징 */
*{
    margin: 0;
    padding: 0;
}

ol,
ul,
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}


/* 라이브러리 */
.cell {
    float: left;
}

.cell-r {
    float: right;
}

.row::after {
    clear: both;
    content: "";
    display: block;
}

.con {
    width: 1150px;
    margin: 0 auto;
}

.con1 {
    margin-left: auto;
    margin-right: auto;
}


/* 폰트 */
@font-face {
    font-family: 'ImcreSoojin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

 
메인
.Main_Home{
    width: 1410px;
    height: auto;
} 



/* 탑바 */


.top-bar-wrap {
    width: 100%;
    background-color: #0e6ac7;
}

.top-bar-wrap>.top-bar {
    height: 191px;
}


.top-bar-wrap>.top-bar>.logo-box > .logo {
    width: 170px;
    height: 180px;
}

.top-bar-wrap>.top-bar>.menu-box {
    width: 700px;
    height: 191px;
    font-size: 22px;
    position: relative;
    line-height: 25px;
    color: #ffffff;
}


.top-bar-wrap>.top-bar>.menu-box>ul {
    position: absolute;
    left: 70px;
    top: 40px;
    z-index: 1000;
}

.top-bar-wrap>.top-bar>.menu-box>ul>li {
    position: relative;
    display: inline-block;
    margin-left: 50px;
    margin-right: 40px;
    line-height: 115px;
}

.nav-box>li:hover {
    color: #ffffff;
}

.menu-box>ul>.line {
    position: relative;
    margin-top: 5%;
    border: 0.5px solid #b5b5b5;
}

.top-bar>.menu-box>ul:hover {
    color: #ddd;
}

.top-bar>.menu-box>ul>li:hover {
    font-weight: 600;
    color: #ffffff;
}

.top-bar>.menu-box>ul>li::after {
    display: block;
    content: "";
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: 0.5s;
    font-weight: 600;
}

.top_bar>.manu-box>ul>li:hover::after {
    width: 100%;
}



/* 로그인 */
.login-box {
    position: absolute;
    width: 70px;
    height: 191px;
    right: -46%;
    transform: translateX(-48%);
    display: inline-block;
    color: #ffffff;

}

.login-box > .icon-box{
    padding-top: 70px;
    padding-left: 12px;
}

.login-box > .login{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
}


/* 메인 */
.surbay_title{
    position: relative;

}

.surbay_title > .title{
    position: relative;
    width: 250px;
    height: 46px;
    top: 110px;
    left: 45%;

    font-size: 35px;
    font-weight: 600;
    font-style: normal;
    line-height: 46px;

    color: #000000;

    text-align: center;

}



.surbay_title > p{
    position: relative;
    top: 125px;
    left: 42%;

    font-size: 16px;
    font-weight: 400px;
    font-style: normal;
    line-height: 20px;

    color: #000000;
}

/* 설문지 */

.form-group{
    position: relative;
    top: 180px;
    width: 950px;
    height: 1500px;
    left: 3%;

    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #ddd;
}


.form-group > h3{
    top: 50px;
    left: 5%;
    position: relative;
    font-size: 19px;
    font-weight: 600;
    font-style: normal;
    line-height: 30px;

    color: #0e6ac7;
}


input[type="checkbox"]{
    position: relative;
    width: 18px;
    height: 18px;
    left: 5%;
    top: 70px;
    margin-right: 10px;
    margin-bottom: 15px;
}

input[type="checkbox"] + label{
    position: relative;
    width: 18px;
    height: 18px;
    left: 5%;
    top: 67px;
    margin-right: 7px;
    margin-bottom: 15px;

    color: #000000;
}


input[type="radio"]{
    position: relative;
    width: 17px;
    height: 17px;
    margin-left: 10px;

}

input[type="radio"]+label{
    position: relative;
    line-height: 30px;
    margin-left: 20px;

    color: #000000;


}

.form-group > .Q1{
    position: relative;
    width: 650px;
    height: 120px;
    top: 120px;
    left: 5%;

}

.form-group > .Q1 > #answer2{
    margin-bottom: 20px;

    font-size: 19px;
    font-weight: 600;
    font-style: normal;
    line-height: 30px;

    color: #0e6ac7;
}



.form-group > .Q2{
    position: relative;
    width: 650px;
    height: 120px;
    top: 160px;
    left: 5%;

}

.form-group > .Q2 > #answer2-2{
    margin-bottom: 20px;

    font-size: 19px;
    font-weight: 600;
    font-style: normal;
    line-height: 30px;

    color: #0e6ac7;
}

.form-group > .Q3{
    position: relative;
    width: 650px;
    height: 120px;
    top: 200px;
    left: 5%;

}

.form-group > .Q3 > #answer2-3{
    margin-bottom: 20px;

    font-size: 19px;
    font-weight: 600;
    font-style: normal;
    line-height: 30px;

    color: #0e6ac7;
}


.form-group > .Q4{
    position: relative;
    width: 650px;
    height: 120px;
    top: 230px;
    left: 5%;

}

.form-group > .Q4 > #answer3-1{
    margin-bottom: 20px;

    font-size: 19px;
    font-weight: 600;
    font-style: normal;
    line-height: 30px;

    color: #0e6ac7;
}

.form-group > .Q5{
    position: relative;
    width: 650px;
    height: 120px;
    top: 260px;
    left: 5%;

}

.form-group > .Q5 > #answer3-2{
    margin-bottom: 20px;

    font-size: 19px;
    font-weight: 600;
    font-style: normal;
    line-height: 30px;

    color: #0e6ac7;
}

.form-group > .Q6{
    position: relative;
    width: 650px;
    height: 120px;
    top: 290px;
    left: 5%;

}

.form-group > .Q6 > #answer3-3{
    margin-bottom: 20px;

    font-size: 19px;
    font-weight: 600;
    font-style: normal;
    line-height: 30px;

    color: #0e6ac7;
}

.form-group > .Q7{
    position: relative;
    width: 650px;
    height: 120px;
    top: 320px;
    left: 5%;

}

.form-group > .Q7 > #answer4{
    margin-bottom: 20px;

    font-size: 19px;
    font-weight: 600;
    font-style: normal;
    line-height: 30px;

    color: #0e6ac7;
}



.form-group > #button1{
    position: relative;
    width: 220px;
    height: 60px;
    left: 40%;
    top: 32%;

    background-color: #0e6ac7;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 50px;
}

