/* 노멀라이징 */
* {
	margin: 0;
	padding: 0;
}

ol,
ul,
li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

/* 폰트 */
@font-face {
    font-family: 'Happiness-Sans-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2') format('woff2');

}
@font-face {
    font-family: 'MinSans-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* 메인 */
.Main_Home{
    position: relative;
    width: 100%;
    height: 2500px;
}



/* 탑바 */

.Top_bar {
	position: relative;
	width: 100%;
	height: 170px;
	left: 0px;
	top: 0px;

	background: #ffffff;
}

.logo {
	position: absolute;
	width: 100px;
	height: 50px;
	left: 366px;
	top: 21px;

}

.manu{
    position: absolute;
    width: 700px;
    height: 25px;
    left: 700px;
    top: 77px;

}

.bar{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.bar>li:hover{
    color: #00A19D;
}

.bar>li{
    display: inline-block;
    padding-left: 16.5%;
    font-family: "InfinitySans-RegularA1";

}

.menu > .line {
	position: relative;
	margin-top: 6%;
	border: 0.5px solid #b5b5b5;
}

.Top_bar> .manu > ul> .tour{
	color: #ddd;
}

.Top_bar> .manu > ul> .info{
	color: #ddd;
}


.Top_bar> .manu > ul > li:hover{
    font-weight: 600;
	color: #00A19D;
}

.Top_bar> .manu > ul > li::after{
    display: block;
	content: "";
	width: 0;
	height: 2px;
	background-color: #00A19D;
	transition: 0.5s;
	font-weight: 600;
}

.Top_bar> .manu > ul > li:hover::after{
    width: 100%;
}

.manu> .bar> .comm{
    font-weight: 500;
    color: #00A19D;
}

/* 아이콘 */
.fa-heart{
    position: absolute;
    left: 77%;
    top: 45.29%;
    color: #000000;
  
}

.fa-bell{
    position: absolute;
    left: 79.5%;
    top: 45.29%;
    color: #000000;
}
.fa-user{
    position: absolute;
    left: 82%;
    top: 45.29%;
    color: #000000;
}

.fa-user:hover, .fa-bell:hover, .fa-heart:hover{
    color: #E05D5D;
}


.login{
    position: absolute;
    width: 52px;
    height: 21px;
    left: 1613px;
    top: 77px;
    display: inline-block;

    font-family: 'InfinitySans-RegularA1';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    color: #000000;
}

.login:hover{
    color: #E05D5D;
    font-weight: 600;
}

.line{
    position: absolute;
    width: 100%;
    height: 0;
    top: 170px;

    border: 0.5px solid #c4c4c4;
}

/* 메인 사이드바 */

.Main_Home > .Sidebar {
    position: absolute;
    width: 185px;
    height: 350px;
    left: 22%;
    top: 300px;
}

.Main_Home > .Sidebar > .cm > h1{
    font-family: 'MinSans-Medium';
    line-height: 10px;
}

.Main_Home > .Sidebar > .cm > .line1{
    position: absolute;
    width: 185px;
    height: 0px;
    left: -40px;
    top: 70px;

    border: 1px solid #767676;
}


.Main_Home > .Sidebar > .cm > .side > ul {
    position: absolute;
    width: 150px;
    height: 185px;
    left: 10px;
    top: 160px;


    font-family: 'InfinitySans-RegularA1';
    font-weight: 100;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;

    color: #767676;
}

.Main_Home > .Sidebar > .cm > .side > ul > li{
    margin-bottom: 50%;
}


.Sidebar > .cm > .side > ul > .T_share{
    font-size: 19px;
    font-weight: 500;
    color: #000000;
}

.T_main{
    position: absolute;
    width: 140px;
    height: 25px;
    left: 42%;
    top: 300px;

    font-family: 'MinSans-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;

    color: #000000;

}

.T_main > .btn{
    background: none;
    border: 0;
}

.T_main > .btn{
    position: absolute;
    display: block;
    width: 65px;
    height: 20px;
    left: 580px;
    top: 20px; 
    
}

.T_main > .btn{
    text-align: center;
    box-sizing: border-box;
    width: 65px;
    height: 25px;

    background-color: #ffffff;
    border: 1px solid #767676;
    border-radius: 5px;
}


.T_main > .btn a{
    font-family: 'InfinitySans-RegularA1';
    font-style: normal;
    font-size: 13px;
    line-height: 15px;

    color: #000000;
}


/* 여행지공유 리스트 */

.T_main > .T_list{
    position: absolute;
    width: 600px;
    height: 160px;
    left: 30%;
    top: 300px;
}

 .T_list >ul > li>  img {
     position: absolute;
     width: 123px;
     height: 137px;
     left: 300px;
     top: 300px;

    
}












/* 푸터 */
.footer{
    position: absolute;
    width: 100%;
    height: 250px;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.5);
}
